<launch>
	
	<include file="$(find mcts_hardware_trials)/launch/zed.launch" />
	
	<include file="$(find mcts_hardware_trials)/launch/rtabmap.launch" /> 
	
	<include file="$(find dji_sdk)/launch/sdk_manifold.launch" />
	
	<node name="dji_odom_transform" pkg="mcts_hardware_trials" type="dji_odom_transform" output="screen" />
	
	<include file="$(find mcts_hardware_trials)/launch/transforms.launch" />
	
</launch>
