<launch>
	
	<include file="$(find mcts_hardware_trials)/launch/zed.launch" />
	
	<include file="$(find mcts_hardware_trials)/launch/rtabmap_mapping.launch" /> 
	
	<include file="$(find dji_sdk)/launch/sdk_manifold.launch" />
	
	<node name="dji_odom_transform" pkg="mcts_hardware_trials" type="dji_odom_transform" output="screen" />
	
	<include file="$(find mcts_hardware_trials)/launch/transforms.launch" />

	<node pkg="rosbag" type="record" output="screen" name="rosbag"
		args=" -o /media/nvidia/SSD/passive-mapping/ --duration=480 
			zed/depth/camera_info 
			zed/rgb/camera_info 
			zed/odom 
			zed/depth/depth_registered 
			zed/rgb/image_rect_color 
			/tf 
			/tf_static 
			/map 
			/dji_sdk/odometry
			/dji_sdk/gps_position
			/rtabmap/grid_map"
	/>
</launch>
